{% extends 'shop/base.html' %}

{% block content %}
        {% for p in products %}
            <div class="card mt-4 {% if forloop.last %}mb-4{% endif %}">
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'shop:detail' p.slug %}"><img src="/media/{{ p.image }}" class="img-fluid" alt="{{ p.title }}" ></a>
                    </div>
                    <div class="col">
                        <div class="card-block mt-4">
                            <h4 class="card-title"><a href="{% url 'shop:detail' p.slug %}">{{ p.title }}</a></h4>
                            <h5 class="card-text">{{ p.description }}</h5>
                            <p class="card-text">Rs. {{ p.price }}</p>
                            <a href="#" name="{{ p.slug }}" class="btn btn-success add_to_cart mb-4">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card mt-5">
                <div class="card-header">No data available</div>
            </div>
        {% endfor %}
{% endblock %}

{% block jscode %}
    <script>
        $(document).ready(function () {
            $('.add_to_cart').on('click', function () {
                data = {"slug": this.name, "csrfmiddlewaretoken":"{{ csrf_token }}" }
                $.post("{% url 'shop:add_to_cart' %}", data)
                    .done(function (response) {
                        if (response.status == "ok") {
                            $('#cart_count').text(response.count + " items");
                        }
                        alert(response.message);
                    });
            })
        })
    </script>
{% endblock %}